@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
rus
<div class="card mb-3 w-100 bg-dark text-light mt-3" style=" ">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/newfolder/ingedb.jpg" style="height:100%;width:90%" class=" p-2" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title text-decoration-underline">Rus Edebiyatının Genel Özellikleri</h5>
                <p class="card-text">
                    ingiliz edebiyatı eski ve çok sağlam yazarlara sahip güçlü bir kültüre sahiptir0. Romanları ve tiyatro eserleri gerçekten okunmaya değer  eserlere sahip bir edebiyat.çok özel isimlere sahip Thomas More (1478-1535) ...
                    William Shakespeare (1564-1616) ...
                    Daniel Defoe (1660(?)-1731) ...
                    Charles Dickens (1812-1870) ...
                    Thomas Hardy (1840-1928) ...
                    H. G. Wells (1866-1946) ...
                    Agatha Christie (1890-1976) ...
                    Aldous Huxley (1894-1963)...
                    bu yazarların öyle yada böyle okudum hepsiyle ilgili yazılarım altta olacaktır ama en beğendiğim ve fikirlerini-kitaplarını imcelediğim sheakspeare'ye ayrı bir başlık açtım ayrıca bu yazarların ve başka büyük yazarların kitap incelemeleri ve aforizmalarını
                    burada inceleyeceğiz. İncelenecek olan her kitap kendi edebiyat bölümünde yazarının kitaplarında olacaktır'
                </p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3 w-100 bg-dark text-light mt-3" style=" ">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/newfolder/ingedb.jpg" style="height:100%;width:90%" class=" p-2" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title text-decoration-underline">İngiliz Edebiyatının Genel Özellikleri</h5>
                <p class="card-text">
                    ingiliz edebiyatı eski ve çok sağlam yazarlara sahip güçlü bir kültüre sahiptir0. Romanları ve tiyatro eserleri gerçekten okunmaya değer  eserlere sahip bir edebiyat.çok özel isimlere sahip Thomas More (1478-1535) ...
                    William Shakespeare (1564-1616) ...
                    Daniel Defoe (1660(?)-1731) ...
                    Charles Dickens (1812-1870) ...
                    Thomas Hardy (1840-1928) ...
                    H. G. Wells (1866-1946) ...
                    Agatha Christie (1890-1976) ...
                    Aldous Huxley (1894-1963)...
                    bu yazarların öyle yada böyle okudum hepsiyle ilgili yazılarım altta olacaktır ama en beğendiğim ve fikirlerini-kitaplarını imcelediğim sheakspeare'ye ayrı bir başlık açtım ayrıca bu yazarların ve başka büyük yazarların kitap incelemeleri ve aforizmalarını
                    burada inceleyeceğiz. İncelenecek olan her kitap kendi edebiyat bölümünde yazarının kitaplarında olacaktır'
                </p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>